<% 
    let edit 

    if(proyecto?.public == true){
        edit = true
    }
    if(proyecto?.public == false){
        edit = false
    }

%> 

<%- include('../Layouts/Header', {title: "Editar Proyecto" }) %>

    <h2 class="col s12 center-align submissions">Editar Proyecto Nuevo</h2>

    <div class="row">
        <form action="/admin/projects/<%= proyecto._id %>/editar" method="post" class="col s12"
            enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" readonly disabled value="<%= proyecto._id %>"  class="validate" required/>
                    <label> Id:
                        
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" name="sistema" value="<%= proyecto.name %>" class="validate" required/>
                    <label> Nombre del sistema:

                    </label>
                </div>

            </div>
            <div class="row">

                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" name="description" value="<%= proyecto.description %>" class="validate"/>
                    <label> Descripción:
                        
                    </label>
                </div>
            </div>

            <div class="row">
              
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" name="link" value="<%= proyecto.link %>" class="validate"required/>
                    <label> Link:
                  
                    </label>
                </div>

            </div>
            <div class="row">
                
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" name="imagen" value="<%= proyecto.img %>" class="validate" required/>
                    <label> Imagen:
                     
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <select name="publicar" id="postear">
                        <option value="true" <%= (edit ? "selected" : "" ) %>>Si</option>
                        <option value="false" <%= (edit ? "" : "selected" ) %>>No</option>
                    </select>
                    <label for="mostrador">Mostrar Proyecto:</label>
                  
                </div>
            </div>

            <button type="submit" class="waves-effect waves-light col s12 m6 offset-m3 btn orange"><i
                    class="material-icons right">send</i>Editar Proyecto</button>
        </form>
    </div>


    <%- include('../Layouts/Footer') %>