<%- include('../Layouts/Header', {title: proyecto.name}) %>


    <div class="row">
        <h2 class="col s12">
            Proyecto: <%= proyecto.name %>
        </h2>
        <p class="col s12"><strong>Descripción:</strong>
            <%= proyecto.description %>
        </p>

        <p class="col s12"><strong>Link Sistema:</strong>
            <%= proyecto.link %>
        </p>
        <p class="col s12"><strong>Link Imagen:</strong>
            <%= proyecto.img %>
        </p>
        <p class="col s12"><strong>Estado:</strong>
            <%= proyecto.public %>
        </p>
     
        <a href="/admin/projects" class="col s12">Ver Proyectos</a>
        
    </div>
    <form action="/admin/projects/<%= proyecto._id %>/eliminar" method="POST">
        <button type="submit" class="waves-effect waves-light col s12 m6 btn red marginado"><i
                class="material-icons right">delete</i>Eliminar Proyecto</button>
    </form>

    <%- include('../Layouts/Footer') %>