<% 
    let edit 

    if(proyecto?.public == true){
        edit = true
    }
    if(proyecto?.public == false){
        edit = false
    }

%> 

<div class="col s12 m6">
    <div class="card panel hoverable">
        <div class="card-image">
            <img src="<%- proyecto.img %>" alt="<%- proyecto.name %>">
            <span class="card-title">Nombre del Proyecto: <%- proyecto.name %></span>
        </div>
        <div class="card-content">
            <ul>
                <li>
                    <strong>Nombre del Proyecto: </strong>
                    <%- proyecto.name %>
                </li>
                <li>
                    <strong>ID:</strong>
                    <%- proyecto._id %>
                </li>
                <li>
                    <strong> Link del proyecto: </strong>
                    <a href=" <%- proyecto.link %>">
                        <%- proyecto.link %>
                    </a>
                </li>
                <li>
                    <strong>Descripción: </strong>
                    <%- proyecto.description %>
                </li>
            </ul>
            <div class="card-action">
                <h5>Acciones</h5>
                <a href="/admin/projects/<%= proyecto._id %>/eliminar" class="waves-effect waves-light  col s12 m6 btn red"><i
                        class="material-icons right">delete</i>Eliminar</a>
                <a href="/admin/projects/<%= proyecto._id %>/editar" class="waves-effect waves-light col s12 m6 btn orange"><i
                        class="material-icons right">mode_edit</i> Modificar</a>

            </div>
            <div class="card-action clear-10">
                <h5>Visibilidad</h5>
                <form action="/admin/projects/<%= proyecto._id %>/publicar" method="post"
                    enctype="application/x-www-form-urlencoded">
                    <label hidden> Id:
                        <input type="text" hidden disabled value="<%= proyecto._id %>" />
                    </label>
                    <label hidden> Valor:
                        <input type="text" name="publicar" hidden value="true" />
                    </label>
                    <button type="submit" <%= (edit ? "disabled" : "" ) %> class="waves-effect waves-light col s12 m6 btn"><i
                            class="material-icons right">visibility</i>Mostrar Proyecto</button>
                </form>
                <form action="/admin/projects/<%= proyecto._id %>/publicar" method="post"
                    enctype="application/x-www-form-urlencoded">
                    <label hidden> Id:
                        <input type="text" hidden disabled value="<%= proyecto._id %>" />
                    </label>
                    <label hidden> Valor:
                        <input type="text" name="publicar" hidden value="false" />
                    </label>
                    <button type="submit"  <%= (edit ? "" : "disabled" ) %> class="waves-effect waves-light col s12 m6  btn purple"><i
                            class="material-icons right">visibility_off</i>Ocultar Proyecto</button>
                </form>
            </div>

        </div>
    </div>
</div>